table {
    width: 85%;
    border-collapse: collapse;
    border-collapse: separate; /* important! */
    border-radius: 15px;
  border-spacing: 0;
  border: 2px solid #121f47;
  padding: 0px;
  
}


table, th, td {
   /* border-left: 1px solid black;
    border-right: 1px solid black; */
    border: 1px solid black !important;
    padding: 0px;
}


th {
    font-weight: bold;
    background-color: #083f86;
    padding: 10px;
    text-align: center;
    color: #ffffff; 
    font-size: 1.2em;
}

td {
    padding: 10px;
    color:rgb(14, 3, 3)
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

tr:nth-child(even) {
    background-color: #d4d2d2;
}
.td-center {
    text-align: center;
    vertical-align: middle;
}


.accounting-alright {
    text-align: right;
}
.td-italic {
    background-color: white;
    font-style: italic;
    color:black;
  }
  .td-middle-only {
    text-align: center;
  
  }

  .table-border{
    border-spacing: 0;
  border: 2px solid #121f47;
  padding: 0px;
    
  }
  .divReportHeader{
  
    text-align: center;
    font-weight: bold;
    font-size:40px;
    color:black;
  }


   .tdDoubleTop{
    border-top-style:double;
    border-top-width: 20px; 
    font-weight: bolder;
    border-color: rgb(221, 39, 39);
    

  }
  


  .gengrid-header-text-block {
    display: flex;
    vertical-align: center;
    gap: 4px;
  }

  .gengrid-header-text-block a {
    text-decoration: none;
    color: #a19b9b
  }

  .gengrid-header-text-block a:hover {
    color: #007bff;
  }

  .gengrid-header-text-block-func-container-hor {
    display: flex;
    
    gap: 0px; /* smallest possible */
  }
  .subHeader{
    text-align: center;
    font-size: 30px;
    color: #000;
    font-weight: bolder;

  }

  .fullTextSearchInput {
    margin-left: 1em;
  }

  .fulTextHightLightYellow {
    background-color: #bdce68;
  }


  .crudFilterDiv {
    display: flex;
    align-items: center;
  }
  .tdNoBorder{
    border: none;
  display:inline-block;
  margin-right: 3em;
  }
  .flex{
    display: flex;
  }