table {
    width: 85%;
    border-collapse: collapse;
    border-collapse: separate; /* important! */
    border-radius: 15px;
  overflow: hidden;
  border-spacing: 0;
  border: 2px solid #121f47;
  padding: 0px;
  
}


table, th, td {
   /* border-left: 1px solid black;
    border-right: 1px solid black; */
    border: 1px solid black !important;
    padding: 0px;
}


th {
    font-weight: bold;
    background-color: #083f86;
    padding: 10px;
    text-align: center;
    color: #ffffff; 
    font-size: 1.2em;
}

td {
    padding: 10px;
    color:rgb(14, 3, 3)
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

tr:nth-child(even) {
    background-color: #d4d2d2;
}
.td-center {
    text-align: center;
    vertical-align: middle;
}


.accounting-alright {
    text-align: right;
}
.td-italic {
    background-color: white;
    font-style: italic;
    color:black;
  }
  .td-middle-only {
    text-align: center;
  
  }

  .table-border{
    border-spacing: 0;
  border: 2px solid #121f47;
  padding: 0px;
    
  }
  .divReportHeader{
  
    text-align: center;
    font-weight: bold;
    font-size:40px;
    color:black;
  }


  .trBold{
  font-weight: bold;
  }
  .trGrandTotal{
    border-top-style:double;
    border-top-width: 20px;
    font-weight: bold;

  }
  .tdDoubleTop{
    border-top-style:double;
    border-top-width: 20px; 
    font-weight: bolder;

  }
  